<div *ngIf="accountdata.length==0; else data">

  <div class="spiner">
    <mat-progress-spinner color="Accent " mode="indeterminate" strokeWidth="2" diameter="20"></mat-progress-spinner>
    <mat-progress-spinner color="primary" mode="indeterminate" strokeWidth="2" diameter="20"></mat-progress-spinner>
    <mat-progress-spinner color="warn" mode="indeterminate" strokeWidth="2" diameter="20"></mat-progress-spinner>
  </div>


</div>
<ng-template #data>
  <div class="container">
    <table>
      <thead>
        <th *ngFor="let key of accountdata[0] |keyvalue">{{key.key}}</th>

      </thead>
      <tbody>
        <tr *ngFor="let item of accountdata">
          <td *ngFor="let itemdata of item |keyvalue ">{{itemdata.value}}</td>

        </tr>
      </tbody>

    </table>
  </div>
</ng-template>
